.navHover {
    cursor: pointer;
    transition: all ease-in 0.1s;
    width: 100%;
}

.navHover:hover {
    background: rgba(255, 255, 255, 0.205);
}

.sidebarContainer {
    max-width: 250px !important;
    /* Default width for desktop */
    background-color: #212529 !important;
}


@media (max-width: 786px) {
    .sidebarContainer {
        max-width: 50% !important
    }
}